.block {
  position: absolute;
  background-size: cover; /*contain*/
  background-repeat: no-repeat;
  transition-property: top, left;
  transition-duration: 0.1s;
  transition-delay:0;
}
body {
  padding: 50px;
  padding-top: 5px;
  position: relative;
  height:80%;
}
#gamebody {
  height:100%;
  background-color: black;
  position: relative;
}
.word {
  font-size: 2.2vh;
  color: #999;
  text-align: center;
  font-family: system-ui;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  line-height: 0.8;
}
.word.active{
  color: white;
}
.word.action {
  border-radius: 4px;
  background-color: rgb(82, 53, 39);
}
.word.action.active{
  background-color: brown;
}
.particle {
  position: absolute;
  font-size:2.5vh;
  font-weight:700;
  font-family: sans-serif;
}
.baba{
}
.baba.r { background-image: url("img/babar.png") }
.baba.l { background-image: url("img/babal.png") }
.baba.u { background-image: url("img/babau.png") }
.baba.d { background-image: url("img/babad.png") }
.keke.r { background-image: url("img/keker.png") }
.keke.l { background-image: url("img/kekel.png") }
.keke.u { background-image: url("img/kekeu.png") }
.keke.d { background-image: url("img/keked.png") }
.wall {
  background-image: url("img/wall.png")
}
.rock {
  background-image: url("img/rock.png")
}
.flag {
  background-image: url("img/flag.png")
}
.water {
  background-image: url("img/water.png")
}
.skull {
  background-image: url("img/skulld.png")
}
.lava {
  background-image: url("img/lava.png")
}
.grass {
  background-image: url("img/grass.png")
}
.jelly {
  background-image: url("img/jelly.png")
}
.crab {
  background-image: url("img/crab.png")
}
.star {
  background-image: url("img/star.png")
}
.love {
  background-image: url("img/love.png")
}
.door {
  background-image: url("img/door.png")
}
.key {
  background-image: url("img/key.png")
}
.word.babaword {
  color: pink;
  font-size:3.2vh;
}
.word.wallword {
  color: #667;
}
.word.flagword {
  color: yellow;
}
.word.rockword {
  color: brown;
}
.word.kekeword {
  color: #993;
}
.word.waterword {
  color: #66F;
}
.word.defeatword {
  background-color:#600;
}
.word.skullword {
  color:#900;
}
.word.lavaword {
  color:#F70;
}
.word.grassword {
  color:#4F8;
  font-size:2.4vh;
}
.word.jellyword {
  color:#46D;
}
.word.crabword {
  color:#F66;
}
.word.starword {
  color:#DD6;
}
.word.loveword {
  color:#FDD;
}
.word.doorword {
  color:#830;
  font-size:2.8vh;
}
.word.keyword {
  color:#FF9;
}
/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 100px;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
#modaltext{
    padding: 20px;
    font-size: 20px;
}
